.fullverifier{
    background-image: url(/images/bg.png);
    height: 2500px;
    display: flex;
}

.sideoption{
    
    width: 200px;
    height: 100%;
    flex-basis: 15%;
    background-color: #161615;
}

.verifierbody{
    flex-basis: 85%;
}

/*.verifierhomedashtd:hover{
    background: hsla(0, 100%, 3%, 1);

    background: radial-gradient(circle, hsla(0, 100%, 3%, 1) 0%, hsla(312, 33%, 39%, 1) 48%, hsla(0, 93%, 53%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(0, 100%, 3%, 1) 0%, hsla(312, 33%, 39%, 1) 48%, hsla(0, 93%, 53%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(0, 100%, 3%, 1) 0%, hsla(312, 33%, 39%, 1) 48%, hsla(0, 93%, 53%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0F0000", endColorstr="#864379", GradientType=1 );
}*/

.verifierhomedashtd:hover{
    background: linear-gradient(90deg, rgba(0,2,11,1) 0%, rgba(187,55,82,1) 100%);
    transition: color 3s;
}

.verifierhomedashtd{
    height: 80px;
    border-bottom-width: 0.01px;
    border-bottom-style: ridge;
    font-weight: 500;
    text-align: left;
    padding-left: 30px;
    
}


.dashtxt{
    text-decoration: none;
    color: white;
    padding-left: 5px;
    
}

.verifierhomedashtd1{
    height: 80px;
    border-bottom-width: 0.01px;
    border-bottom-style: ridge;
    font-weight: 500;
    text-align: left;
    padding-left: 30px;
    
    
}

.verifierdashdiv{
    background: linear-gradient(90deg, rgba(0,2,11,1) 0%, rgba(187,55,82,1) 100%);
    height: 50px;
    text-align: left;
    padding-top: 15px;
    margin-top: 10px;
}

.verifierdashdiv1:hover{
    background: linear-gradient(90deg, rgba(0,2,11,1) 0%, rgba(187,55,82,1) 100%);
    height: 50px;
    text-align: left;
    padding-top: 15px;
    margin-top: 10px;
}

.verifierdashdiv2:hover{
    background: linear-gradient(90deg, rgba(0,2,11,1) 0%, rgba(187,55,82,1) 100%);
    height: 50px;
    text-align: left;
    padding-top: 15px;
    margin-top: 10px;
    width: 100%;
}

.verifierhomedashtd2{
    height: 80px;
    border-bottom-width: 0.01px;
    border-bottom-style: ridge;
    font-weight: 500;
    text-align: left;
    padding-left: 30px;
    
}

.verifierbody1{
    border-color: red;
    background-color: aqua;
    border-radius: 50px;
    border-width: 1px;
    width: 500px;
    margin-top: 300px;
    margin-left: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.verifierbodyicon1, .verifierbodyicon2{
    display: flex;
    flex-direction: row;
}

.verifierproduct_td1 {
    font-size: large;
    font-family: "Arial", sans-serif;
    padding: 25px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    gap: 5px;
  }

   .verifierproduct_th1 {
    font-size: large;
    font-family: "Arial", sans-serif;
    padding: 25px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
    color: #161615;
  }

  #pattern3 input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  #pattern3 input[type="radio"]::before {
    font-family: "Noto Emoji", sans-serif;
    position: absolute;
    top: -4px;
    left: -4px;
    width: 25px;
    height: 25px;
    font-size: 25px;
    content: "";
    opacity: 0;
    transition: opacity 0.3s;
    color: coral; /* Add coral color to the emoji */
  }
  
  #pattern3 input[type="radio"]:nth-of-type(1)::before {
    content: "📦";
  }
  #pattern3 input[type="radio"]:nth-of-type(2)::before {
    font-family: "Noto Sans Symbols 2", "Noto Emoji", sans-serif;
    content: "🚚";
  }
  #pattern3 input[type="radio"]:nth-of-type(3)::before {
    content: "📦";
  }
  #pattern3 input[type="radio"]:nth-of-type(4)::before {
    content: "✅";
  }
  #pattern3 input[type="radio"]:checked {
    background-color: transparent;
  }
  
  #pattern3 input[type="radio"]:checked::before {
    opacity: 1;
  }

  /*body {
  padding: 4em;
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}*/
.datelabel {
  display: block;
}
.dateinput {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
  
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  font: 20px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.verifierproduct_tdate {
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}