.cardbox{
    padding-left: 180px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    text-align: justify;
   
}

.cards{
    width: 300px;
    border-radius: 10px;
    border-top-left-radius: 10px;
}

.card-img-top {
    border-radius: 10px 10px 30 30;
    display: flex;

  }