.productdiv1{
  margin-left: 250px;
  background-color: #f9f9f9 ;
  /*width: 70%;*/
}
.productdiv2{
  background-color: #f9f9f9 ;
  padding-top: 10px;
  display: flex;
}

.prosub{
  background-color: transparent;
  width: 80%;
  display: flex;
}

.productdiv3{
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9 ;
  margin-left: -550px;
}

.productdiv4{
  margin-top: 0%;
  display: flex;
  background-color: #f9f9f9 ;
}

.productdiv5{
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  background-color: #f9f9f9 ;
  
}

.productbook{
  height: 80px;
  margin-right: 280px;
  padding-left: 10px;
  padding-top: 20px;
  text-align: left;
  background-color: #f9f9f9 ;
  
}

.rating{
  text-align: left;
  background-color: transparent;
}

.product-div-image{
  margin-right: 280px;
  display: flex;
}

.product-img1{
  width: 585px;
  margin-right: 280px;
  background-color: #f9f9f9 ;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
 
}
.product-img2{
  margin-top: 0%;
  width: 290px;

}
.product-img3{
  margin-top: 0%;
  width: 290px;
  border-top-right-radius: 20px;
  padding-left: 10px;
}

.product-img4{
  width: 290px;
}
.product-img5{
  width: 290px;
  padding-left: 10px;
  border-bottom-right-radius: 20px;
}

.price{
  color: green;
  text-align: left;
  padding-top: 20px;
}
.product-detail {
    border-radius: 4px;
    margin-left: 140px;
  }
  
  .product-detail h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-detail p {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .sharecartwishlist{
    margin-left: 850px;
    background-color: transparent;
    width: 280px;
    display: flex;

  }
  
  .wishlist-button {
    /*background-color: green;*/
    border: none;
    background-color: transparent;
    transition: color 0.3s, border-color 0.3s;
    padding-top: 7px;
  }
  
  .wishlist-button span {
    margin-left: 5px;
  }
  
  .wishlist-el:hover {
    color: red;
    border-color: red;
    font-size: 18;
  }
  .wishlistbutton-text:hover{
    color: red;
    font-size: 18;
    border-color: red; 
  }
  .wishlist-button.saved {
    color: red;
    font-size: 18;
  }

.wishlist-button:hover .heart-icon,
.wishlist-button.pressed .heart-icon {
  color: red;
  font-size: 18;
}



  /*.heart-icon {
    font-size: 40px;
    
    transition: all 0.3s ease;
  }*/

  .wishlistbutton-text {
    text-decoration: underline;
  }

  .testdiv{
    width: 81.8%;
    
  }

  .descri{
    padding-left: 10px;
    text-align: left;
    padding-top: 10px;
  }

  .cart-button span {
    margin-left: 5px;
  }

  .cart-button{
    border-width: 0px;
    /*margin-top: 50px;
    margin-left: 600px;*/
    color: black;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
  }
  
  .cart-button:hover .cart-el,
  .cart-button.pressed .cart-el {
    color: blue;
    cursor: pointer;
  }

  .cartbutton-text{
    text-decoration: underline;
    font-size: medium;
  }

  .share-button{
    padding-top: 7px;
    margin-left: 15px;
    color: black;
    
  }

  .share-button:hover{
    color:green;
    cursor: pointer;
  }