.checkbody{
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 100%;
    margin:0;
    position: absolute;
    display: flex;

}

.subcheckbody{
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
    border: solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 5px;
    border-color: transparent;
    background-color: rgb(250, 246, 246);
    height: 100%;
    width: 75%;
}

.checkformdiv,.cartdiv{
    flex-basis: 50%;
}

.cartdiv{
    height: 100%;
}

.checkform{
    /*background-color: white;*/
    height: 100%;

}

.checktxt{
    margin-left: 35px;
    margin-top: 5px;
    width:220px;
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    border-style:outset;
    border-color: antiquewhite;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.checktxt1{
    resize: none;
    margin-left: 40px;
    margin-top: 5px;
    width: 475px;
    border-radius: 10px;
    border-width: 1px;
    border-color: antiquewhite;
    border-style:outset;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

.checkform5{
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
}



.fname{
    margin-left: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.checkform1, .checkform2, .checkform3, .checkform4, .checkform5, .checkform6, .checkform7, .checkform8, .checkform9 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
}

.vertical1, .vertical2, .vertical3, .vertical4 {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 35px;
}

.vertical1{
    padding-top: 50px;
}


.button-65 {
    margin-top: 30px;
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .button-65:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
  
  .button-65:hover:after {
    opacity: .5;
  }
  
  .button-65:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .button-65:active:after {
    opacity: 1;
  }
  
  @media (min-width: 768px) {
    .button-65 {
      padding: 14px 22px;
      width: 176px;
    }
  }


  .button-37 {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
    .button-37 {
      padding: 10px 30px;
    }
  }

  .cart_tr.selected {
    background-color: #f5f5f5;
  }

  #overflowTest {
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    height: 70%;
    align-items: center;
    padding-left: 15px;
    width: 90%;
    overflow: scroll;
    border: 1px solid #ccc;
  }

  .ordertr {
    border-bottom-width: 1px;
    /*height: 250px;*/
    border-color: rgb(179, 174, 174);
  }

  .ordertd1{
    padding: 15px;
  }