.pro1{
  height: 680px;
  margin-left: 300px;
  margin-right: 300px;
}

.pro2{
  border-bottom: 1px solid grey;
  height: 200px;
}

.h1{
  /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
  padding-top: 50px;
  text-align: left;
  font-weight: bold;
  font-size: xx-large;
}

.h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  text-align: left;
  /*font-size: small;
  */
}

.box{
  width: 350px;
  border-radius: 10px;
  height: 210px;
  box-shadow: 0 0 10px rgba(160, 155, 155, 0.5);
  text-align: left;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-right: 5px;
  flex-direction: row;
}

.profilediv{
  margin-top: 100px;
  margin-left: 20%;
  border: 1px;
  height: 800px;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  /*background-color: antiquewhite;*/
}

.profileform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  width: 900px;
  
  margin-left: 50px;
}

.address-div {
  grid-column: 1 / span 2;
  grid-row-end: span 2;  
  display: flex;
}

.profileinput{
  border-radius: 5px;
  height: 40px;
  margin-left: 25px;
  background-color: rgb(200, 219, 246);
}

.profilesubmit{
  margin-top: 50px;
}

.inputaddress {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  margin-left: -770px;
}

.grid-row, .address-div{
  margin-top: 50px;
}



