.d{
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 100vh;
    margin:0;
    position: absolute;
    display: flex;
}
.d1{
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
    border: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-width: 2px;
    border-color: black;
    height: 80%;
    width: 75%;
  }
.d2,.d3{
    flex-basis: 50%;
  }
  .d2{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/welcome.png);
  }
  .d3{
    background-color: rgb(255,255,255);
    align-items: center;
  padding-top: 50px;
  }
  .t1{
    height: 45px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    border-width: 0.5px;
    background-color: rgba(255,255,255,0.1);
  }

  .reg {
    align-items: center;
    margin-left: 275px;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold",sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 54px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .reg:active {
    outline: 0;
  }
  
  .reg:hover {
    outline: 0;
  }
  
  .reg span {
    transition: all 200ms;
  }
  
  .reg:hover span {
    transform: scale(.9);
    opacity: .75;
  }
  
  @media screen and (max-width: 991px) {
    .reg {
      font-size: 15px;
      height: 50px;
    }
  
    .reg span {
      line-height: 50px;
    }
  }
  .ic{
    width: 24px !important;
    height: 24px !important;
    
  }

  .wrap {
    position: absolute;
    top: 440px;
    right: 430px;
    margin-right: -10%;
    transform: translate(-50%, -50%);
  }
  
  .radioinput {
    display: none;
  }
  
  .but {
    cursor: pointer;
    margin: 10px 10px;
  }
  
  .but:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #f34079;
    border-radius: 50%;
    z-index: 2;
    transition: box-shadow .4s ease,background 0.3s ease;
  }
  
  .radioinput:checked + .but:before {
    box-shadow: inset 0px 3px 0 2px #fc894d;
    background: #fff;
  }