.dummy{
    text-align: right;
}

.wishlisthead{
    padding-top: 50px;
    height: 150px;
    /*background-color: bisque;*/
    width: 70%;
    margin-left: 250px;
}

.wishlistheadicon{
    padding-right: 5px;
    
}

.wishlist_table{
    margin-left: 350px;
    width: 60%;
}

.wishlist_tr{
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: rgb(179, 174, 174);
}

.wishlist_td {
    font-size: x-large;
    font-family: "Arial", sans-serif;
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    height: 150px;
}

.wishlist_th_name, .wishlist_th {
    font-size: large;
    font-family: "Arial", sans-serif;
    padding: 25px;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    height: 100px;
}

.wishlist_name{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    height: 100px;
}
  
.wishlist_th {
    background-color: #f2f2f2;
}

.wishlist_th_image{
    background-color: #f2f2f2;
    padding-left: 50px;
}


.wishlist_price{
    font-size: x-large;
    font-family: "Arial", sans-serif;
    color: rgb(11, 156, 9);
}

.wishlistcart-button{
    border-width: 0px;
    color: black;
    font-size: 40;
}
  
.wishlistcart-button:hover .cart-el2,
.wishlistcart-button.pressed .cart-el2 {
    color: blue;
    font-size: 30px;
    cursor: pointer;
}

.deleteicon{
    color:black;

}

.deleteicon-wrapper {
    display: inline-block;
    /* Add any other styles you want for the wrapper */
  }
  
.deleteicon {
    /* Set the initial color to black or any other desired color */
    color: black;
    transition: color 0.3s; /* Add a transition to make the color change smooth */
  
    /* Add any other styles you want for the delete icon */
  }
  
.deleteicon:hover {
    /* Change the color to red on hover */
    color: red;
  }